<#-- @ftlvariable name="contractDto" type="xyz.thinkglobal.dto.pdf.ContractDto" -->

<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset='UTF-8'/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            body {
                font-family: "Times New Roman";
                font-size: 10.5pt;
            }

            div.cell {
                padding: 3ex;
            }

            p.paragraph, p.sub-paragraph {
                margin-top: 0.5ex;
                margin-bottom: 0.5ex;

            }

            h3.main-title {
                text-align: center;
                font-width: bold;
            }

            div.sub-title {
                position: relative;

            }

            h5.main-title-left {
                font-width: bold;
            }

            h5.main-title-right {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                font-width: bold;
            }

            h1.doc-header {
                text-align: center;
                font-size: 120%;
                margin-top: 0.5ex;
                margin-bottom: 0.5ex;

            }

            table {
             width: 100%
            }
            th, td {
                vertical-align: top;
                width: 50%;
            }
            th {
                text-align: center;
            }
            table, th, td {
                <#if contractDto.fixed>
                    border: 1px solid black;
                    border-collapse: collapse;
                </#if>
            }

            td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>

    <body>

        <h3 class="main-title">Договір № ${contractDto.contractTitle}</h3>
        <h3 class="main-title">про надання допоміжних послуг у сфері освіти</h3>
        <div class="sub-title">
            <h5 class="main-title-left">м. Київ</h5>
            <h5 class="main-title-right">${contractDto.contractSigningDate}</h5>
        </div>
        <p>
            <span class="bold">${contractDto.lookupCounterpartyName}</span> (Код за ЄДРПОУ <span class="bold">${contractDto.lookupCounterpartyEdrpouCode}</span>,
            місцезнаходження: ${contractDto.lookupCounterpartyAddress}) в особі директора ${contractDto.lookupCounterpartyDirector}, який діє на
            підставі ${contractDto.lookupCounterpartyActOnBasis}, надалі іменується <span class="bold">«Виконавець»</span> та
        </p>

        <p>
            <span class="bold">Учень (одержувач) ${contractDto.studentLastName} ${contractDto.studentFirstName} ${contractDto.studentMiddleName}</span> в особі законного представника
            (батька/матері/особи, що їх замінює),  <span class="bold">${contractDto.contactLastName} ${contractDto.contactFirstName} ${contractDto.contactMiddleName}</span>, який діє на підставі
            ч. 1 ст. 242 Цивільного кодексу України, надалі іменується <span class="bold">«Замовник»</span>, надалі разом іменовані <span class="bold">«Сторони»</span>, а кожна окрема
            – <span class="bold">«Сторона»</span>, уклали цей договір про надання допоміжних послуг у сфері освіти, надалі <span class="bold">«Договір»</span>, про таке:
        </p>
        <h1 class="doc-header">1. ПРЕДМЕТ ДОГОВОРУ</h1>
        <p class="paragraph">
            1.1. Предметом Договору є надання Виконавцем допоміжних послуг у сфері освіти <span class="bold">“${contractDto.contractSchool}”</span> (надалі – «Центр
            розвитку»), зокрема, але не виключно:
        </p>
        <p class="sub-paragraph">
            1) забезпечення приміщенням і персональним місцем (стіл, стілець);
        </p>
        <p class="sub-paragraph">
            2) забезпечення послугами тьюторів та консультантів під час роботи у групах;
        </p>
        <p class="sub-paragraph">
            3) надання необхідних технічних засобів для роботи з електронними файлами;
        </p>
        <p class="paragraph">
                1.2. Замовник підписанням цього договору стверджує на підставі ч. 2 ст. 65, ч.ч. 1, 2 ст. 74 Сімейного кодексу України,
            що діє за згодою другого з подружжя, а в разі перебування в незареєстрованому шлюбі - за згодою іншої особи, з якою
            проживає однією сім'єю.
        </p>
        <p class="paragraph">
                1.3. Період надання послуг визначається цим календарем:
            Початок навчання: ${contractDto.contractServiceStartDate}.
            Закінчення навчання: ${contractDto.contractServiceEndDate}.
            період, який не входить до календаря, а також проміжки часу з _____________ по _______________, з _____________ по
            _______________ вважаються канікулярними та сторони погоджуються про те, що під час цього періоду надання послуг
            Виконавцем не здійснюється.
        </p>

        <h1 class="doc-header">2. ПРАВА ТА ОБОВ'ЯЗКИ ВИКОНАВЦЯ</h1>
        <p class="paragraph">
            2.1. <span class="bold">Виконавець зобов'язаний</span>
        </p>
        <p class="paragraph">
                2.1.1. До початку надання послуг провести з Замовником інструктаж з правил поведінки батьків і дітей у Центрі розвитку
            та вимог техніки безпеки.
        </p>
        <p class="paragraph">
                2.1.2. Використати вимоги чинного законодавства України й додаткові спеціальні програми для надання допоміжних послуг у
            сфері освіти.
        </p>
        <p class="paragraph">
            2.2. <span class="bold">Виконавець має право:</span>
        </p>
        <p class="paragraph">
                2.2.1. Вільно вибирати, розробляти та впроваджувати нові, в т. ч. авторські програми, які дозволяють підвищити
            ефективність розвитку дітей.
        </p>
        <p class="paragraph">
                2.2.2. Відмовити в наданні послуг Замовнику у зв’язку з наявністю в учня захворювань чи протипоказань, а також у разі
            систематичного порушення Замовником навчальної дисципліни чи агресивної поведінки. Під систематичним порушенням мається
            на увазі 2 письмові попередження Замовника або його законних представників про факт порушення навчальної дисципліни або
            агресивної поведінки.
        </p>
        <p class="paragraph">
                2.2.3. Розірвати даний Договір достроково в односторонньому порядку та зупинити надання послуг Замовнику при
            систематичному невиконанні Замовником своїх зобов'язань, повідомивши про це Замовника за два тижні.
        </p>
        <p class="paragraph">
            2.2.4. Надавати послуги тільки після повної їх оплати Замовником відповідно до графіку оплат в п. 4.4;
        </p>
        <p class="paragraph">
                2.2.5. Не розглядати претензій Замовника і не повертати кошти за послуги у разі, якщо це стосується невиконання
            (неналежного виконання) Замовником своїх зобов'язань по Договору.
        </p>
        <p class="paragraph">
                2.3. Замовник та Виконавець як Сторони даного договору імперативно без будь-яких виключень підписанням даного договору
            встановили, що без будь-яких обмежень або дозволів Замовника Виконавець має право на проведення фото- та відеофіксації
            та відео- і аудіоспостереження за учнями, здійснення будь-яких інших заходів з метою безпеки, надання доступу батькам
            (представникам) до спостереження за наданням послуг або до ілюстрації матеріалів про Центр розвитку, що здійснює
            Виконавець на своєму сайті, в інтернеті чи у ЗМІ.
        </p>
        <h1 class="doc-header">3. ПРАВА ТА ОБОВ'ЯЗКИ ЗАМОВНИКА</h1>
        <p class="paragraph">
            3.1. <span class="bold">Замовник зобов'язаний:</span>
        </p>
        <p class="paragraph">
                3.1.1. Підтвердити факт проходження усного інструктажу, передбаченого п. 2.1.1, шляхом проставлення відмітки в Анкеті,
            яка надається Виконавцем.
        </p>
        <p class="paragraph">
            3.1.2. Організовувати відвідування учнем оплачених занять відповідно до розкладу і графіку Центру розвитку.
        </p>
        <p class="paragraph">
            3.1.3. Дотримуватись правил відвідування Центру розвитку і даного Договору.
        </p>
        <p class="paragraph">
            3.1.4. У повному обсязі та своєчасно сплачувати Виконавцю плату за надання послуг.
        </p>
        <p class="paragraph">
                3.1.5. Дотримуватися конфіденційності інформації, яка є комерційною таємницею, не розповсюджувати і не передавати
            стороннім особам чи організаціям без дозволу керівництва навчального закладу методичні розробки, документи, літературу
            та інші інтелектуальні цінності, що належать Виконавцю.
        </p>
        <p class="paragraph">
            3.1.6. Забезпечувати догляд за учнем до і після заняття, своєчасно забирати учня після закінчення заняття.
        </p>
        <p class="paragraph">
            3.1.7. Дбайливо ставитися до майна Виконавця і третіх осіб.
        </p>
        <p class="paragraph">
            3.1.8. Заздалегідь сповіщати адміністрацію Центру розвитку про майбутню відсутність учня та причини цього.
        </p>
        <p class="paragraph">
            3.1.9. Взаємодіяти із Центром розвитку в усіх напрямках виховання й навчання учня.
        </p>
        <p class="paragraph">
            3.1.10. У ході отримання послуг виконувати законні вимоги персоналу Виконавця та умов цього Договору.
        </p>
        <p class="paragraph">
                3.1.11. Відшкодовувати будь-які збитки навчального закладу і третіх осіб, які сталися з вини учня та/або Замовника на
            підстави висталвеного Виконавцем рахунку, протягом 3 ( трьох) робочих днів після факту виставлення рахунку.
        </p>
        <p class="paragraph">
                3.1.12. Не розповсюджувати та не публікувати фото-, відео- та аудіоматеріали, отримані від Виконавця, та використовувати
            їх тільки в цілях ознайомлення.
        </p>
        <p class="paragraph">
                3.1.13. Виконувати в повному обсязі та належним чином усі завдання, які даються вчителями та іншим персоналом Закладу на
            самостійне опрацювання.
        </p>
        <p class="paragraph">
            3.2. <span class="bold">Замовник має право:</span>
        </p>
        <p class="paragraph">
            3.2.1. Користуватись послугами відповідно до умов даного Договору.
        </p>
        <p class="paragraph">
                3.2.2. Вибирати на свій розсуд та отримувати додаткові послуги, що надаються навчальним закладом, відповідно до розкладу
            та за віковими особливостями учня.
        </p>
        <h1 class="doc-header">4.ВАРТІСТЬ ДОПОМІЖНИХ ПОСЛУГ ТА ПОРЯДОК РОЗРАХУНКІВ</h1>
        <p class="paragraph">
            4.1. Розмір плати за надання послуг Виконавця встановлюється в національній валюті України – гривні.
        </p>
        <p class="paragraph">
                4.2. Форма розрахунків безготівкова шляхом перерахування коштів на рахунок Виконавця або внесення платежу готівкою з
            видачею Виконавцем касового чеку.
        </p>
        <p class="paragraph">
                4.3. Загальна вартість послуг Виконавця, передбачених п. 1.1. Договору, за весь період надання послуг
            становить <span class="bold">${contractDto.contractFullNumberPlusInWords}</span>
            До загальної вартості послуг Виконавця не включається вартість проведення додаткових гуртків для учнів.
        </p>
        <p class="paragraph">
            4.4. Замовник проводить оплату послуг відповідно до виставлених Виконавцем рахунків.
        </p>
        <p class="paragraph">
                4.5. Замовник та Виконавець як Сторони даного договору імперативно без будь-яких виключень підписанням даного договору
            встановили, що забороняється повернення здійснених Замовником Виконавцю оплат за період, за який послуги були вже надані
            Виконавцем Замовнику, та забороняється вимагання надання послуг чи вчинення дій без оплати.
        </p>
        <p class="paragraph">
                4.6. Замовник та Виконавець як Сторони даного договору імперативно без будь-яких виключень підписанням даного договору
            встановили, що в разі непідписання Сторонами за їх згодою угоди про розірвання даного договору протягом робочого дня або
            іншого періоду дії даного договору, за який надається послуга, здійснена оплата за період дії даного договору, який вже
            пройшов, не повертається Виконавцем Замовнику. В такому випадку надана за цим договором Виконавцем Замовнику послуга, за
            яку здійснена оплата з розрахунку за кожний робочий день або інший період дії даного договору, вважається наданою у
            відповідності до умов даного договору та всіх вимог чинного законодавства України, за виключенням послуг, які надаються
            в перші 7 днів періоду надання послуг Виконавцем Замовнику, після підписання цього Договору за умов, передбачених п. 6.3
            п.п. 5.
        </p>
        <p class="paragraph">
                4.7. У випадку розірвання угоди сторони проводять процедуру звірки наданих послуг та сплачених коштів з розрахунку
            оплати за кожний робочий день, виключаючи канікулярний період, вказаний в п 1.3., і у випадку наявності заборгованості
            сторона-боржник зобов’язується виконати свої фінансові зобов’язання.
        </p>
        <p class="paragraph">
                4.8. Виконавець залишає за собою право змінювати ціну Договору, виходячи з коливання курсу валют та різкого зростання
            собівартості надання послуги, не частіше ніж 1 раз на рік на суму, яка ще не оплачена Замовником у розмірі не більше,
            ніж 20% від залишку суми до сплати.
        </p>
        <p class="paragraph">
                4.9. У разі дострокового розірвання Договору Виконавець повертає гроші Замовнику за невикористаний період з розрахунку
            періоду надання послуг, вказаному в п. 1.3.
        </p>
        <h1 class="doc-header">5.ВІДПОВІДАЛЬНІСТЬ СТОРІН ЗА НЕВИКОНАННЯ АБО НЕНАЛЕЖНЕ ВИКОНАННЯ ЗОБОВ’ЯЗАНЬ</h1>
        <p class="paragraph">
                5.1. За невиконання або неналежне виконання зобов’язань цього договору Сторони несуть відповідальність, передбачену
            чинним законодавством України та цим Договором.
        </p>
        <p class="paragraph">
                5.2. Замовник несе всю відповідальність за достовірність відомостей, вказаних ним в Анкеті і Заяві на послуги. У
            випадку, якщо Замовник не вказав або неправильно вказав персональні дані та іншу інформацію, вказану в Анкеті,
            Виконавець послуг не відповідає за збитки Замовника, понесені в результаті відмови в поверненні передоплати та/або
            здійснення інших дій внаслідок неможливості правильної ідентифікації Замовника. Дія даного пункту розповсюджується на
            такі ситуації, але не виключно:
            Надані неправильні або недостовірні персональні дані;
            Надані неправильні або недостовірні дані або інформація, яка не дає змогу Виконавцю надати послугу в повному обсязі та
            належним чином.
        </p>
        <h1 class="doc-header">6. ВНЕСЕННЯ ЗМІН ТА РОЗІРВАННЯ ДОГОВОРУ</h1>
        <p class="paragraph">
                6.1. Зміни до цього Договору можуть бути внесені за взаємною згодою Сторін шляхом укладення та підписання Сторонами
            додаткових договорів до нього.
        </p>
        <p class="paragraph">
                6.2. Виконавець має право на одностороннє внесення змін до даного Договору виключно щодо питань навчального розпорядку
            та правил відвідування і безпеки.
        </p>
        <p class="paragraph">
            6.3. Договір може бути розірвано:
        </p>
        <p class="sub-paragraph">
            1) за згодою Сторін;
        </p>
        <p class="sub-paragraph">
                2) Виконавцем у разі систематичного порушення Замовником умов Договору або при невиконанні Замовником платіжних
            зобов’язань перед Виконавцем;
        </p>
        <p class="sub-paragraph">
                3) у випадку поширення Замовником неправдивої та непідтвердженої інформації, яка стосується якості надання послуг
            Виконавцем, у ЗМІ, соціальних мережах та в інший публічний спосіб;
        </p>
        <p class="sub-paragraph">
                4) за ініціативи Замовника шляхом повідомлення Виконавцю рекомендованим листом за 30 календарних днів та за умови
            проведення звірки фінансових зобов’язань сторін шляхом складення акту звірки фінансових зобов’язань та укладання
            додаткової угоди про розрив Договору, на підставі якої Замовнику буде повернуто кошти за невикористаний період наданих
            послуг у разі наявності невикористаного періоду.
        </p>
        <p class="paragraph">
                6.4. За умови розірвання Договору за ініціативи Замовника в перші 7 днів періоду надання послуг Виконавцем Замовнику,
            положення п. 6.3. п.п. 5. не виконуються Замовником та грошові кошти, сплачені Замовником, повертаються Замовнику в
            повному обсязі протягом 21 робочого дня.
        </p>
        <h1 class="doc-header">7 .СТРОК ДІЇ ДОГОВОРУ ТА ІНШІ ПОЛОЖЕННЯ</h1>
        <p class="paragraph">
                7.1.Даний Договір вступає в силу з дня його підписання Сторонами та діє до ${contractDto.dateOfTheEndOfContract},
            а в частині виконання зобов’язань Сторін даного Договору до повного належного виконання сторонами зобов’язань.
        </p>
        <p class="paragraph">
            7.2. Усі додаткові договори до даного Договору є його невід’ємними частинами.
        </p>
        <p class="paragraph">
            7.3. Даний Договір складений при повному розумінні Сторонами його умов та термінології українською мовою в двох
        екземплярах ідентичного змісту, що мають однакову юридичну силу, по одному екземпляру для кожної зі Сторін.
        </p>
        <p class="paragraph">
                7.4. Виконавець може передавати свої права та обов’язки за Договором, належним чином повідомивши про це Замовника листом
            не пізніше, ніж за 14 (чотирнадцять) календарних днів, з метою збереження якості послуг.
        </p>
        <p class="paragraph">
                7.5. Замовник надає Виконавцю згоду на обробку та передачу третім особам персональних даних, отриманих Виконавцем під
            час надання послуг, для залучення до надання послуг підрядників Виконавця та інших дій, спрямованих на покращення якості
            надання послуг.
        </p>

        <h1 class="doc-header">8. РЕКВІЗИТИ СТОРІН:</h1>

        <table>
            <tr>
                <th>Замовник (учень)</th>
                <th>Виконавець</th>
            </tr>
            <tr>
                <td>
                    <div class="cell">
                        Громадянин(ка) України
                        <br/>
                        ${contractDto.studentLastName} ${contractDto.studentFirstName} ${contractDto.studentMiddleName}
                        <br/>
                        в особі законного представника, батька/матері:
                        <br/>
                        ${contractDto.contactLastName} ${contractDto.contactFirstName} ${contractDto.contactMiddleName}
                        <br/>
                        ${contractDto.fullPasportData}
                        <br/>
                        Місце реєстрації:
                        <br/>
                        ${contractDto.contactRegistrationCity}, ${contractDto.contactRegistrationStreet}, ${contractDto.contactRegistrationHouse},  ${contractDto.contactRegistrationFlat}
                        <br/>
                        моб.тел. ${contractDto.contactPhone}
                        <br/>
                        дом.тел.___________________
                        <br/>
                        ${contractDto.contactLastName} ${contractDto.contactFirstName} ${contractDto.contactMiddleName} /_______________/
                    </div>
                </td>

                <td>
                    <div class="cell">
                        ${contractDto.lookupCounterpartyNameShort}
                            <br/>
                        Код ЄДРПОУ ${contractDto.lookupCounterpartyEdrpouCode},
                            <br/>
                        Юридична адреса: ${contractDto.lookupCounterpartyAddress}
                            <br/>
                        телефон ${contractDto.lookupCountrePartyPhone}
                            <br/>
                        ${contractDto.lookupCounterpartyRequisites}
                            <br/>
                        Директор
                            <br/>
                        ${contractDto.lookupCounterpartyDirectorShort}/_______________/
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
